.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 3.4rem;
  text-align: center;
}
.error {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
}
.main-page {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: left;
}
.stay {
  position: absolute;
  bottom: 0;
  right: 0;
}
