:root {
  font-size: 62.5%;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.2rem;
}

.header {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 50%;
}

.options {
  position: absolute;
  top: 3.5rem;
  right: 0.5rem;
}

.text-container > * {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 60rem) {
  .header {
    font-size: 0.8rem;
  }
  .text-container {
    font-size: 1.2rem;
  }
}

.input-container {
  display: inline-block;
  padding-bottom: 1rem;
}

.submit-button {
  margin: 0 auto;
  display: block;
  width: 25%;
  height: 3.5rem;
}

.output-container {
  display: inline-block;
}

@media screen and (max-width: 58rem) {
  .options {
    position: relative;
    top: 0;
    right: 0;
    padding-bottom: 1rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.table-label {
  font-weight: bold;
  margin: 1rem;
}
.list-label {
  font-weight: bold;
  margin: 1rem;
  width: 15rem;
}
select {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-size: 600% 600%;
  background-image: linear-gradient(
    -45deg,
    rgb(160, 200, 218) 0%,
    rgb(169, 178, 222) 25%,
    rgb(164, 128, 177) 51%,
    rgb(242, 160, 190) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
