:root {
  font-size: 62.5%;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.2rem;
}

#main {
  overflow: hidden;
}

.title {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  font-size: 50%;
}

.text-container > * {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.input-container {
  display: inline-block;
}

.output-container {
  display: inline-block;
}

.options {
  position: absolute;
  top: 2rem;
  right: 0.5rem;
}

@media screen and (max-width: 58rem) {
  .options {
    /* Center the options */
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.table-label {
  font-weight: bold;
  margin: 10px;
}
.list-label {
  font-weight: bold;
  margin: 10px;
  width: 150px;
}
select {
  width: 100%;
}
