:root {
  font-size: 62.5%;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.2rem;
}

/* body {
  font-size: 1.6rem;
} */
.main {
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  /* position: absolute; */
  align-items: center;
  top: -3rem;
  /* left: 37%; */
  /* width: 100%; */
  /* height: 100%; */
  font-size: 50%;
  padding: inherit;
  text-align: center;
  white-space: nowrap;
}

.text-container > * {
  /* position: relative; */
  /* Make center and stay at top */
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

/* width: 50%;
  padding: 10px;
} */

.input-container {
  display: inline-block;
}

.output-container {
  display: inline-block;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.table-label {
  font-weight: bold;
  margin: 10px;
}
.list-label {
  font-weight: bold;
  margin: 10px;
  width: 150px;
}
select {
  width: 100%;
}
