<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>&#128037;Nonono, you messed up &#128037;</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/319/clown-face_1f921.png"
    />
    <style>
      .title {
        font-family: "Courier New", Courier, monospace;
        font-size: 3.4rem;
        text-align: center;
      }
      .error {
        font-family: "Courier New", Courier, monospace;
        font-size: 2rem;
        text-align: center;
      }
      .main-page {
        font-family: "Courier New", Courier, monospace;
        font-size: 2rem;
        text-align: left;
      }
      .stay {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <!-- <audio loop autoplay>
      <source src="nice/trololol.mp3" type="audio/mp3" />
    </audio> -->
    <h1 class="title">
      &#129313;Are you trying to break our website?&#129313;
    </h1>
    <p class="error">Error {{.Code}}: {{.Message}}</p>
    <a class="main-page" href="https://youtu.be/sCNrK-n68CM?t=25"
      >Go back to "main page"</a
    >
    <a class="stay" href="http://localhost:8080"
      >Go to main page for real bro</a
    >
  </body>
</html>
