<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ascii-art-web</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/319/clown-face_1f921.png"
    />
  </head>
  <body>
    <div id="main" style="clear: both">
      <form action="/" method="post">
        <h6 class="header">
          &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; _ &nbsp; _ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _ &nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;<br />
          &nbsp;&nbsp; &nbsp;/\ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;(_) (_) &nbsp; &nbsp; /\ &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;| | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
          &nbsp;&nbsp; / &nbsp;\ &nbsp; &nbsp; ___ &nbsp; &nbsp;___ &nbsp; _
          &nbsp; _ &nbsp; &nbsp; / &nbsp;\ &nbsp; &nbsp; _ __ &nbsp;| |_
          &nbsp;&nbsp;&nbsp;&nbsp;<br />
          &nbsp;&nbsp;/ /\ \ &nbsp; / __| &nbsp;/ __| | | | | &nbsp; / /\ \
          &nbsp; | &#039;__| | __|&nbsp;&nbsp;&nbsp;&nbsp;<br />
          &nbsp;/ ____ \ &nbsp;\__ \ | (__ &nbsp;| | | | &nbsp;/ ____ \ &nbsp;|
          | &nbsp; &nbsp;\ |_ &nbsp;&nbsp;&nbsp;&nbsp;<br />
          /_/ &nbsp; &nbsp;\_\ |___/ &nbsp;\___| |_| |_| /_/ &nbsp; &nbsp;\_\
          |_| &nbsp; &nbsp; \__| web
        </h6>
        <div class="options">
          <table>
            <tbody>
              <tr>
                <td class="table-label">
                  <label for="Font">Font:</label>
                </td>
                <td class="list-label">
                  <select name="Font" id="Font" class="font">
                    <option value="standard">Standard</option>
                    <option value="thinkertoy">Thinkertoy</option>
                    <option value="shadow">Shadow</option>
                    <option value="300iqfont">300IQFont</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-container">
          <div class="input-container">
            <textarea
              id="Input"
              name="Input"
              placeholder="Enter text"
              rows="1"
              cols="13"
              wrap="hard"
            ></textarea>
          </div>
          <input class="submit-button" type="submit" hidden />
          <div class="output-container">
            <p>{{.}}</p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
